{% extends "layout.html"  %}

{% block body %}
<form method="POST" action="{{ url_for('book_update', book_id=bookmark_id) }}">
	<p>If a valid ISBN is given, book details will be resolved automatically. Fields name and writer are ignored book exists with given ISBN.</p>
  	<table>
        <tr>
            <th>{{ form.read_status.label }}</th>
            <th>{{ form.read_status }}</th>
        </tr>
		<tr>
			<th>{{ form.header.label }}</th>
			<th>{{ form.header }}</th>
		</tr>
  		<tr>
			<th>{{ form.writer.label }}</th>
			<th>{{ form.writer }}</th>
  		</tr>
		<tr>
			<th>{{ form.ISBN.label }}</th>
			<th>{{ form.ISBN }}</th>
  		</tr>
		<tr>
			<th>{{ form.comment.label }}</th>
			<th>{{ form.comment }}</th>
		</tr>
  	</table>
		<input type="submit" value="Update book"/>
		{% if ISBN_taken %}
		<p>Book with given ISBN is already in the database</p>
		{% endif %}
		{% if bookFetchFailed %}
		<p>ISBN fetch failed</p>
		{% endif %}
</form>
{% endblock %}

