{% extends "layout.html"  %}

{% block body %}
<form method="POST" action="{{ url_for('book_create', prefilled=prefilled) }}">
	<p>If a valid ISBN is given, book details will be resolved automatically. Fields name and writer are ignored if book alredy exists with given ISBN.</p>
  	<table>
		<tr>
			<th>{{ form.header.label }}</th>
            {% if book %}
			<th>{{ form.header(value=book.header)}}</th>
            {% else %}
			<th>{{ form.header}}</th>
            {% endif %}
		</tr>
  		<tr>
			<th>{{ form.writer.label }}</th>
            {% if book %}
			<th>{{ form.writer(value=book.writer) }}</th>
            {% else %}
			<th>{{ form.writer }}</th>
            {% endif %}
  		</tr>
		<tr>
			<th>{{ form.ISBN.label }}</th>
            <th>{{ form.ISBN }}</th>
		  </tr>
		  <tr>
			<th>{{ form.image.label }}</th>
			{% if book %}
			<th>{{ form.image(value=book.image) }}</th>
            {% else %}
			<th>{{ form.image }}</th>
            {% endif %}
  		</tr>
		<tr>
			<th>{{ form.comment.label }}</th>
			<th>{{ form.comment }}</th>
		</tr>
  	</table>
		<input type="submit" value="Add a new book"/>
</form>
{% endblock %}

