{% extends "layout.html"  %}

{% block body %}

{% for field, errors in form.errors.items() %}
<div style="color: red">
    {{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}

<form method="POST" action="{{ url_for('book_create', prefilled=prefilled) }}">
	<p>If a valid ISBN is given, book details will be resolved automatically. Fields name and writer are ignored if book alredy exists with given ISBN.</p>
  	<table>
		<tr>
			<th>{{ form.header.label }}</th>
			<th>{{ form.header}}</th>
		</tr>
  		<tr>
			<th>{{ form.writer.label }}</th>
			<th>{{ form.writer }}</th>
  		</tr>
		<tr>
			<th>{{ form.ISBN.label }}</th>
            <th>{{ form.ISBN }}</th>
		  </tr>
		  <tr>
			<th>{{ form.image.label }}</th>
			<th>{{ form.image }}</th>
  		</tr>
		<tr>
			<th>{{ form.comment.label }}</th>
			<th>{{ form.comment }}</th>
		</tr>
  	</table>
		<input type="submit" value="Add a new book"/>
</form>
{% endblock %}

