<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TUHO Lukuvinkkikirjasto</title>
  </head>

  <body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
      <a href="{{url_for('bookmarks_list')}}" class="btn btn-outline-success">
        <h1>TUHO Lukuvinkkikirjasto</h1>
      </a>
    {% block body %}
    <p>
      Content goes here
    </p>
    {% endblock %}
  </body>
</html>
