{% extends "layout.html" %}

{% block body %}

<img src="{{ url_for('static', filename='under_construction.gif') }}">
<h2>Browse bookmarks</h2>

<table class="table">
  <tr>
    <form action="{{ url_for('bookmarks_list')}}">
      <td>
        <input type='radio' name='type' value=None>All<br>
        {% for t in types %}
        <input type='radio' name='type' value="{{ t[1] }}">{{ t[0] }}<br>
        {% endfor %}
      </td>
      <td>
        <input type='radio' name='seen' value=1>Seen<br>
        <input type='radio' name='seen' value=2>Not seen<br>
      </td>
  </tr>

  <tr>
    <td>
      <input type="submit" value="Filter">
    </td>
    </form>
  </tr>
</table>
{% if bookmarks.first() %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Bookmark</th>
      <th scope="col">Type</th>
      <th scope="col">Seen?</th>
    </tr>
  </thead>
  <tbody>
    {% for bookmark in bookmarks %}
    <tr>
      <td>
        <a href="{{url_for('get_bookmark', bookmark_id=bookmark.id)}}">{{ bookmark.header }}</a>
      </td>
      <td>
        {{ bookmark.__class__.__name__ }}
      </td>
      <td>
        {% if bookmark.read_status %}
        <p style="color: green">&#10004;</p>
        {% else %}
        <p style="color: red">&#10799;</p>
        {% endif %}
      </td>
      <td>
        <a href="{{url_for('bookmarks_edit', bookmark_id=bookmark.id)}}" class="btn btn-primary">Edit</a>
        <a href="{{url_for('delete_bookmark', bookmark_id=bookmark.id)}}" onclick="return confirm('Remove bookmark?')"
          class="btn btn-danger">Remove</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No bookmarks.</p>
{% endif %}

<p>
  {% if prev_url %} <a href="{{ prev_url }}">previous page</a> {% endif %}
  {% if next_url %} <a href="{{ next_url }}">next page</a> {% endif %}
</p>

<p>
  <a href="{{url_for('book_create')}}" class="btn btn-outline-success">Add new bookmark</a>
  <a href="{{url_for('video_create')}}" class="btn btn-outline-success">Add new video</a>
</p>
{% endblock %}