{% extends "layout.html"  %}

{% block body %}
<form method="POST" action="{{ url_for('bookmarks_create') }}">
	<p>If a valid ISBN is given, book details will be resolved automatically. Fields name and writer are ignored book exists with given ISBN.</p>
  	<table>

		<tr>
			<th>Name:</th>
			<th><input type="text" name="header"/></th>
		</tr>
  		<tr>
			<th>Writer:</th>
			<th><input type="text" name="writer"/></th>
  		</tr>
		<tr>
			<th>ISBN:</th>
			<th><input type="text" name="ISBN"/></th>
  		</tr>
		<tr>
			<th>Comment:</th>
			<th><input type="text" name="comment"/></th>
		</tr>
  	</table>
		<input type="submit" value="Add a new book"/>
		{% if ISBN_taken %}
		<p>Book with given ISBN is already in the database</p>
		{% endif %}
		{% if bookFetchFailed %}
		<p>ISBN fetch failed</p>
		{% endif %}
</form>
{% endblock %}

