{% extends "layout.html" %}

{% block body %}

{% if video is defined and video %}
<h3>Video: {{ video.header }} </h3>
<p>Katsottu: {{ video.read_status }} {% if video.read_date %}{{ video.read_date }}{% endif %} </p>
<p>{{ video.comment }}</p>
<p>URL: {{ video.URL }}</p>
{% if video.timestamp %}
<a href="{{url_for('get_bookmark', bookmark_id=video.id, timestamp=video.timestamp)}}">view from timestamp at {{ video.timestamp }} seconds</a><br>
{% endif %}
<iframe width="560"height="315"src="{{ embed }}"frameborder="0"></iframe><br>
<a href="{{url_for('index')}}">Back to bookmark listing</a>

{% endif %}

{% endblock %}
