{% extends "layout.html" %}

{% block body %}

{% if video is defined and video %}
<h3>Video: {{ video.header }} </h3>
{% if video.read_status %}
<p>Status: seen</p>
{% else %}
<p>Status: not seen</p>
{% endif %}
<p>{{ video.comment }}</p>
<p>URL: <a href="{{ video.URL }}">{{ video.URL }}</a></p>
{% if video.timestamp %}
<a href="{{url_for('get_bookmark', bookmark_id=video.id, timestamp=video.timestamp)}}">view from timestamp at {{ video.timestamp }} seconds</a><br>
{% endif %}
<iframe width="560"height="315"src="{{ embed }}"frameborder="0"></iframe><br>
<a href="{{url_for('video_update', video_id=video.id)}}">Edit video</a>
<a href="{{url_for('video_create')}}" class="btn btn-outline-success">Add new video</a>

{% endif %}

{% endblock %}
