{% extends "layout.html"  %}

{% block body %}
<form method="POST" action="{{ url_for('video_create', video_id=video_id) }}">
  	<table>
		<tr>
			<th>{{ form.header.label }}</th>
			<th>{{ form.header }}</th>
		</tr>
		<tr>
			<th>{{ form.URL.label }}</th>
			<th>{{ form.URL }}</th>
  		</tr>
		<tr>
			<th>{{ form.timestamp.label }}</th>
			<th>{{ form.timestamp }}</th>
		</tr>
		<tr>
			<th>{{ form.comment.label }}</th>
			<th>{{ form.comment }}</th>
		</tr>
  	</table>
		<input type="submit" value="Add a new video"/>
</form>
{% endblock %}

